* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #f56692;
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #d6d6d6;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.dark-mode {
  --color-primary: #121212;
  --color-secondary: #0f0f7e;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow-y: scroll;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  -webkit-transform: scale(0);
  opacity: 0;
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
  transform-origin: 50% 20%;
  -webkit-transform-origin: 50% 20%;
}

.sec1 {
  display: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  padding: 0 !important;
}

.sec2 {
  display: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.sec3 {
  display: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.sec4 {
  display: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.sec5 {
  display: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.active {
  display: block;
  -webkit-animation: scaleAnim 0.5s ease-in-out;
  animation: scaleAnim 0.5s ease-in-out;
}

@-webkit-keyframes scaleAnim {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleAnim {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.controlls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.controlls .active-btn {
  background-color: var(--color-secondary) !important;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.controlls .active-btn i {
  color: var(--color-white) !important;
}

.controlls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-5);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.7rem 0;
  -webkit-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
}

.controlls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-grey-5);
  cursor: pointer;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.theme-btn:active {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

/* ////////////////////////////    hedaer text    ////////////////////////////// */

.header-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
}

.header-content .name {
  font-size: 60px;
  font-weight: 700;
  display: flex;
}

.header-content .name .last-name {
  color: var(--color-secondary);
  margin-left: 30px;
}

/* ////////////////////////////    animated text    ////////////////////////////// */
.header-text-warpper {
  display: flex;
}

.header-text-warpper .static-text {
  color: var(--color-white);
  font-size: 30px;
  font-weight: 400;
}

.header-text-warpper .dynamic-text {
  margin-left: 30px;
  line-height: 45px;
  height: 45px;
  overflow: hidden;
}

.dynamic-text li {
  list-style: none;
  color: var(--color-secondary);
  position: relative;
  font-size: 30px;
  font-weight: 500;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -180px;
  }
}

.dynamic-text li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid var(--color-secondary);
  animation: typing 3s steps(10) infinite;

  /* ///////////// */
  background-color: var(--color-primary);
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 5px);
  }
  100% {
    left: 0;
  }
}
/* ////////////////////////////    animated text    ////////////////////////////// */

/*About*/

.sec2 .solid {
  margin: 2rem 0;
}

.who-am-i-title {
  color: var(--color-secondary);
}

.who-am-i-answer {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 0;
}

.who-am-i-body {
  color: var(--color-grey-4);
}

.about-me-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-me-bottom .email {
  font-size: 1.2rem;
  color: var(--color-secondary);
}

.about-me-btns {
  display: flex;
}

.about-me-btns .btn-con {
  margin: 1rem;
}

/* /////////////// about hover Icons */

.about-me-icons {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.about-me-icons .hover-items i {
  padding: 1rem;
  transition: 0.5s;
  border-radius: 50%;
  background-color: var(--color-grey-5);
  padding: 1rem;
  margin: 1rem;
  color: var(--color-white);
}

.about-me-icons .hover-items i:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

/* ////////////////////////////////////////////////////////////// */
.port-text {
  padding: 2rem 0;
}

.portfolios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}

.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
}

.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.portfolios .portfolio-item .hover-items h3 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 0 2rem 0.5rem;
}

.portfolios .portfolio-item .hover-items .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-evenly;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}

.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}

.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.skills .skill {
  position: relative;
  background-color: var(--color-grey-5);
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.skills .skill:hover {
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.skills .skill:hover img {
  background-color: var(--color-primary);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}

.skills .skill img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.skills .skill .skill-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 8px solid var(--color-secondary);
}

.skills .skill .skill-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.skills .skill .skill-text h4:hover {
  color: var(--color-secondary);
}

.skills .skill .skill-text p {
  color: var(--color-grey-2);
  line-height: 2rem;
  padding-bottom: 1rem;
}

.contact-content-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding-top: 3.5rem;
}

.contact-content-con p{
  display: block;
  text-align: start;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
  
.contact-content-con .right-contact {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  margin-left: 3rem;
}

.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}

.contact-content-con .right-contact .input-control input,
.contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}

.contact-content-con .right-contact .i-c-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}

.contact-content-con .right-contact .submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-end;
  margin-right: 2rem;
}

/*Independed components*/
.btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 0.2px solid var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.main-btn .btn-text {
  padding: 0 2rem;
}

.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  z-index: -1;
}

.main-btn:hover {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.main-btn .btn-text .submit-btn-input{
  content: "";
  background-color: transparent !important;
  cursor: pointer;
}

.main-title {
  text-align: center;
  margin-top: 3rem;
  padding-bottom: 5rem;
}

.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}

.main-title h2 span {
  color: var(--color-secondary);
}

.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

@media screen and (max-width: 600px) {
  .header-content .name {
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
  }
  header {
    padding: 0 !important;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .controlls {
    top: auto;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controlls .control {
    margin: 1rem 0.3rem;
  }
  .about-container {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .section {
    padding: 2rem 2.5rem !important;
  }
  .portfolios {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }
  .skills {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .contact-content-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .i-c-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 span {
    font-size: 2.3rem;
  }
  .main-title h2 .bg-text {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 1432px) {
  .section {
    padding: 7rem 11rem;
  }
  .contact-content-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .i-c-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
  .main-title h2 .bg-text {
    font-size: 5.5rem;
  }
}

@media screen and (max-width: 1250px) {
  .skills {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6rem;
  }
  .portfolios {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 660px) {
  .skills {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolios {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1070px) {
  .about-container {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .main-title h2 {
    font-size: 4rem;
  }
  .main-title h2 span {
    font-size: 4rem;
  }
  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 970px) {
  .section {
    padding: 7rem 6rem;
  }

  .about-me-bottom {
    display: grid;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (max-width: 700px) {
  .section {
    padding: 7rem 3rem;
  }
  .main-title h2 {
    font-size: 3rem;
  }
  .main-title h2 span {
    font-size: 3rem;
  }
  .main-title h2 .bg-text {
    font-size: 4rem;
  }
}

/* ///////////////////////// snack bar //////////////////////////////////// */

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: var(--color-secondary); /* Black background color */
  color: var(--color-primary); /* White text color */
  text-align: center; /* Centered text */
  border-radius: 20px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}